<html>
  <head>
    <title>Demo</title>
  </head>
  <body>
    <h1>Sample API</h1>
    <h2>/api/hello</h2>
    <p>An endpoint to say hello world</p>
    <h2>/api/error</h2>
    <p>An endpoint to return an error</p>
    <h2>/api/long</h2>
    <p>An endpoint to take a long time</p>
  </body>
</html>

